[Unit]
Description=Librivox Scraper
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/media/pi/T7/librivox-webscraper
ExecStart=./run

[Install]
WantedBy=multi-user.target